html {
  height: 100%;
}

body {
  height: 100%;
}

.video-text-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  text-align: center;
  z-index: 4;
}
