html {
  height: 100%;
}

body {
  height: 100%;
}

#pipeline-display-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  background: url('./../i/usa_line.png') no-repeat center center;
}

.video-embed {
}

.video-text-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  text-align: center;
  z-index: 4;
}

#pipeline-display-wrapper video {
  margin-top: 28px;
  max-width: 92%;
  max-height: 92%;
}
